doctype html
html
  head
    title Add/Remove Movie
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet' href='addstyle.css')
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        if session && session.loggedin && session.user.contributer
          li.nav-item
            a.nav-link(href='/addremoveMovie') Add/Remove Movie
          li.nav-item
            a.nav-link(href='/personAdd') Add Person
        li.nav-item
          a.nav-link(href='/movies') Movies
        li.nav-item
          a.nav-link(href='/users') Users
        li.nav-item
          a.nav-link(href='/people') Actors, Writers, Directors
      ul.navbar-nav.ml-auto
        if session && session.loggedin
          a.nav-link(href='/users/'+session.user.id)="You are Currently Online " + session.username  
          a.nav-link(href='/logout') Log Out?
        else
          a.nav-link(href='/login') Login to your account
    h1 Add Person
    .addPerson
      form(action='/personAdd' method='POST')
        label(for='name') Name:
        br
        input#name(type='text' name='personAdd' placeholder="Enter The Person's name" size='30')
        br
        button#button.btn.btn-primary(type='submit') Add Person
