
@font-face {
    font-family: 'Simplifica';
    font-style: normal;
    font-weight: normal;
    src: local('Simplifica'), url('SIMPLIFICA Typeface.woff') format('woff');
    }

body {
    background-image: url("asfalt-light.png");
    background-color: #2f004f;
    color: white;
    font-family: 'Simplifica';
    font-size: xx-large;
    font-weight: bold;
  }
  #logoimg{
    position: absolute;
    left: 1435px;
    top: 15px;
  }

  #coverimg{
    text-align: center;
  }

  h1{
    text-align: center;
    font-family: 'Simplifica';
  }
  p{
   font-family: 'Simplifica';
   font-weight: normal;
   padding-left: 10px;
  }